#password-modal.modal.hide.fade{:tabindex => -1, :role => 'dialog', 'aria-labelledby' => 'title-label', 'aria-hidden' => true}
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true} ×
    %h3.title-label= t 'modify_password.title'
  .modal-body
    %form#modify-form.modal-form.form-horizontal
      .control-group
        %label.control-label= t 'old_password'
        .controls
          = password_field_tag 'old_password', '', :placeholder => t('input_old_password')
      .control-group
        %label.control-label= t 'new_password'
        .controls
          = password_field_tag 'new_password', '', :placeholder => t('input_new_password')
      .control-group
        %label.control-label= t 'password_confirmation'
        .controls
          = password_field_tag 'password_confirmation', '', :placeholder => t('input_password_confirmation')
  .modal-footer
    %button.btn{'data-dismiss' => 'modal', 'aria-hidden' => true}= t 'close'
    %button#loading-button.btn.btn-primary{'data-loading-text' => "#{t('loading')}"}= t 'OK'