= javascript_include_tag 'sessions'
.row
  .span4.offset3
    %h2= t('login')
    .radius-box
      = form_tag sessions_path, :id => 'login_form',:method => 'post' do
        =text_field_tag 'redirect', '', style: 'display:none'
        .control-row
          .control-label= t 'ID'
          .control
            = text_field_tag 'user_name', '',
                             :placeholder => t('.ID_placeholder'),
                             :tabIndex => 1,
                             style: 'width:220px'
        .control-row
          .control-label= t 'password'
          .control
            = password_field_tag 'user_password', '',
                                 :placeholder => "#{t '.pwd_placeholder'}",
                                 :tabIndex => 2,
                                 class: 'password'
            = link_to '忘记密码', find_back_path, style: 'font-size: 12px'
        .control-row
          .submit-row
            = submit_tag t('login'),
                         :class => 'button login-button',
                         :tabIndex => 3
            = raw t('or')
            = link_to t('.not_signup_yet'), signup_path
            = raw t('or')