= javascript_include_tag 'sessions'
.container
  .row
    .span6.offset3.form-horizontal
      %section.box
        = form_tag sessions_path, :id => 'login_form',:method => 'post' do
          %fieldset
            #legend
              %legend= t 'login'
              .control-group
                %label.control-label{:for => 'user_name'}= t 'ID'
                .controls
                  = text_field_tag 'user_name', '',
                                   :class => 'input-xlarge span4',
                                   :placeholder => t('.ID_placeholder'),
                                   :tabIndex => 1
              .control-group
                %label.control-label{:for => 'user_password'}= t 'password'
                .controls
                  = password_field_tag 'user_password', '',
                                       :placeholder => "#{t '.pwd_placeholder'}",
                                       :class => 'span4',
                                       :tabIndex => 2
              .control-group
                .controls
                  .checkbox
                    = check_box_tag 'remember_me', nil, remember_me?
                    = t 'remember_me'
              .gen-form-actions
                = submit_tag t('login'),
                             :class => 'btn primary',
                             :tabIndex => 3
                = raw t('or')
                = link_to t('.not_signup_yet'), signup_path