= javascript_include_tag 'articles/edit'

.form-horizontal
  %section
    %fieldset
      %legend= t('articles.new')
      .control-group
        %label.control-label= t('articles.title.label')
        .controls
          = text_field_tag 'title', '', :placeholder => t('articles.title.placeholder'), :class => 'span8'
      .control-group
        %label.control-label= t('articles.content.label')
        .controls
          = render_edits(nil)
      -# 选择模板
      .control-group
        .controls
          %iframe{:style => 'width: 90%; height: 60px; border-style: none', :src => account_templates_path}
      .form-actions
        = link_to t('post'), account_articles_path,
                  :class => 'btn btn-primary',
                  :id => 'post'
        = link_to t('cancel'), account_articles_path, :class => 'btn'

