-#这个页面需要users
= javascript_include_tag 'search'
.form-horizontal
  %section
    %fieldset
      %legend= "#{t('admin.title')}>#{t('admin.users')}"
      .navbar
        .navbar-inner
          .search-bar
            .navbar-search.pull-right{'search-url' => account_admin_search_users_path, for: 'content'}
              = text_field_tag 'search-text', params[:key], :placeholder => t('search'), :class => 'search-query'
              %i.icon-search.disable#search-icon
      #content
        = render :partial => 'layouts/content',
                 :locals => {:partial => 'account/admin/users/user',
                             :objects => @users,
                             :page => params[:page],
                             :total_page => @total_page}