= javascript_include_tag 'comments'
= stylesheet_link_tag 'vender/colorbox'
.article
  .a-header
    .title= @article.title
    .subtitle
      -#TODO 这里的链接需要补全
      = name_tag @article.creater
      = "#{t('articles.created_at')}:#{@article.created_at.strftime('%F')}"
      - unless @article.edited_at != @article.creater
        = "#{t('articles.edited_at')}:#{@article.edited_at.strftime('%F')}"
  .body
    = tags_tag
    - @article.elements.each do |element|
      = render_element element
  -#显示评论
  .article-comments
    - @comments.each do |comment|
      = render_comment comment
  = comments_pagination_tag(@article.comments.count / 10 + 1, 1)
  -#发表评论
  .article-comment
    - if login?
      #article-edit{:article => @article.id, :reply_to => 0}
        #article-replay{:name => 'article-replay'}
        = render_template_edit_nr(COMMENT_TEMPLATE)
        %button.btn-primary.btn#send-button{:href => comments_path('js'),:onclick => 'return post_comment(this);', style: 'display: none'}
          = t('comments.send.label')
    - else
      .article-nologin
        = raw I18n.t('need_login', :login => link_to(t('login'), login_path) ,
                                   :register => link_to(t('signup'), signup_path))
