= javascript_tag do
  this.search_path = "#{account_admin_search_articles_path}"
  this.source_url = "#{request.url}"
= javascript_include_tag 'search'
.form-horizontal
  %section
    %fieldset
      %legend= "#{t('articles.title.label')}"
      .navbar
        .navbar-inner
          = link_to raw("<i class='icon-plus'></i>#{t('articles.new')}"),
                    new_account_article_path,
                    :class => 'btn pull-left'
          .search-bar
            .navbar-search.pull-right
              = text_field_tag 'search-text', '', :placeholder => t('search'), :class => 'search-query'
              %i.icon-search.disable#search-icon

      = render :partial => 'layouts/content',
               :locals => {:partial => 'account/admin/articles/article',
                           :objects => @articles,
                           :page => params[:page],
                           :total_page => @total_page,
                           :per_page => 10}