= javascript_include_tag 'users'
.row
  .span4.offset3
    %h2= t('signup')
    .radius-box
      = form_for @user, :url => users_path, :validate => true do |f|
        =text_field_tag 'redirect', '', style: 'display:none'
        .control-row
          .control-label
            = f.label t('ID')
          .control
            = f.text_field :name,
                           :tabIndex => 1,
                           :placeholder => t('.ID_placeholder'),
                           size: 20,
                           style: 'width:190px'
        .control-row
          .control-label
            = f.label t('email')
          .control
            = f.text_field :email,
                           :tabIndex => 2,
                           :placeholder => t('.email_placeholder'),
                           style: 'width:190px'
        .control-row
          .control-label
            = f.label t('password')
          .control
            = f.password_field :password,
                               :tabIndex => 3,
                               :placeholder => t('.pwd_placeholder'),
                               style: 'width:190px'
        .control-row
          .submit-row
            = f.submit t('signup'), :class => 'button login-button', :tabIndex => 4
            = raw t('or')
            = link_to t('.already_have_account'), login_path
