- tags ||= []
.tags
  .label TAG:
  - tags.each do |tag|
    .tag
      %a.button{href: tag_path(tag)}= tag.label
      - if current_user == @article.creater
        %img.remove{src: '/images/cancel20.png', alt: '移除标签', title: '移除标签', onclick: "removeTag(this, '#{@article.id}')"}
  .new-tag{style: (login? and tags.size <= 10) ? false : 'display: none'}
    %button.button
      %span.icon-plus-2
    .new-tag-content
      = form_tag tags_path, method: 'POST', remote: true do
        = text_field_tag 'label', nil, placeholder: '10个字符以内', 'maxlength' => 10, size: 10
        = text_field_tag 'article_id', @article.id, style: 'display:none'
        %button.icon-button.button#submit{type: 'submit'}
          %span.icon-checkmark
        %button.icon-button.button#close{type: 'button'}
          %span.icon-cancel-2