.notice-header
  - unless readed
    %span.label-important.label New
  -#TODO 需要补全link
  - article = comment.article
  = raw t('notices.replied_you',
          :someone => link_to(user.name, '#'),
          :somewhere => "#{link_to(article.title, article_path(article))} ##{comment.flood}")
.notice-body
  = article.summary {|content| text = strip_tags(content); text.length > 250 ? "#{text[0..250]}..." : text}