- if header
  %tr
    %th #
    %th= t('name')
    %th= t('version')
    %th= t('templates.verify')
    %th= t('admin.create_at')
    %th= t('admin.actions')
- else
  %tr{:id => dom_id(object)}
    %td= object.id
    %td= object.name
    %td= object.version || '0.0'
    %td= object.verify ? t('templates.verified') : t('templates.not_verified')
    %td= object.created_at.strftime('%F')
    %td
      -#TODO 需要补全url
      - if object.verify
        = link_to t('templates.reject'),
                  account_admin_approve_template_path(object, approve:false),
                  method: 'put',
                  remote: true,
                  confirm: t('templates.reject_confirm')
      - else
        = link_to t('templates.approve'),
                  account_admin_approve_template_path(object, :js, approve:true),
                  method: 'put',
                  remote: true,
                  confirm: t('templates.approve_confirm')
      = link_to t('templates.label'), account_admin_download_template_path(object)
      = link_to t('delete'),
                account_admin_template_path(object),
                method: 'delete',
                remote: true,
                confirm: t('templates.delete_confirm')