!!!
%html
  %head
    %title= @title.nil? ? "BlogSystem" : @title
    = stylesheet_link_tag    "home", :media => "all"
    = javascript_include_tag "home"
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico', rel: 'bookmark', type: 'image/x-icon'
    = favicon_link_tag '/favicon.ico', rel: 'icon', type: 'image/x-icon'
    = favicon_link_tag '/favicon.ico', type: 'image/x-icon'
    = seo_meta
    %meta{'http-equiv'=>'Content-type', content:'text/rhtml; charset=utf8'}
  %body
    .myboka
      - unless hidden_navbar?
        = render :partial => 'layouts/navbar'
      = yield
      - unless hidden_footer?
        = render :partial => 'layouts/footer'
